.equipe__foto-aluno--mateus {
    background-image: url(../../img/equipe/mateusa.jpg);
    
}

.equipe__foto-aluno--nicolas {
    background-image: url(../../img/equipe/nicol.jpg);
}

.equipe__foto-aluno--brunoalk {
    background-image: url(../../img/equipe/bruno.jpg);
}

.equipe__foto-aluno--vic {
    background-image: url(../../img/equipe/vic.jpg);
}

.equipe__foto-aluno--mayllon {
    background-image: url(../../img/equipe/myllon.jpg);
}